body {
    font-family: sans-serif;
    background: black;
    min-height: 100%;
}

header {
    position: fixed;
    height: 130px;
    margin-top: -8px;
    padding: 0;
    background: url(../src/banner.jpg);
    background-size: cover;
    width: 100%;
    display: block;
    margin-left: -8px;
    color: black;
}

#header-pagina {
    width: 75%;
    display: inline-block;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 5%;
}

#logo-texto {
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    color: #2962ff;
    text-shadow: -2px 2px #1c2644;
}

#logo-medio {
    width: 90px;
    vertical-align: -25px;
}

#filtro {
    background: #346e8c;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    padding-left: 10%;
    font-size: 16px;
}

select {
    font-size: 16px;
}

select:hover {
    
}

#filtro input[type="text"] {
    border-left: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    width: 30%;
    color: white;
    font-style: italic;
    font-size: 16px;
    text-align: right;
    padding-right: 6px;
} 

::placeholder {
    color: #d5dee1;
    font-style: italic;
    font-size: 16px;
}

#filtro-vehiculos,#filtro-barrios {
    margin-left: 40px;
    border: none;
    color: white;
    background: transparent;
}

option {
    color: white;
    background: #346e8c;
    font-size: 16px;
}

#filtro input[type="submit"],
button {
    background: white;
    border: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    margin-left: 20px;
    display: inline-block;
}

#direccion-error {
    visibility: hidden;
    float: right;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

main {
    padding-top: 150px;
    background: black;
    width: 100%;
    margin-top: 0;
    margin-left: -8px;
    padding-right: 16px;
    color: white;
    min-height: 900px;
}

#garage-div{
    border-style: solid;
    border-width: 2px;
    width: 45%;
    height: 245px;
    float: left;
    display: inline-block;
    margin-left: 3%;
    margin-top: 2%;
    background: url(../src/foto-cochera-gauss.png);
}

#garage-div-big{
    border-style: solid;
    border-width: 2px;
    width: 90%;
    display: inline-block;
    margin-left: 3%;
    margin-top: 2%;
    background: url(../src/foto-cochera-gauss.png);
}

#garage-left {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

#garage-left-registrate {
    display: inline-block;
    width: 60%;
    vertical-align: top;    
}

#garage-big {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

#garage-datos {
    padding-top: 15px;
    padding-left: 15px;
    display: inline-block;
}

#garage-reservar {
    padding-top: 15px;
    margin-bottom: 20px;
}

#garage-reservar button {
    background: #346e8c;
    border-left: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    color: white;
    padding: 5px;
    width: 200px;
    text-align: left;
}

label{
    display: block;
}

#reservar-texto{
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    display: inline-block;
}

button:hover > #reservar-texto{
    color: transparent;
    -webkit-transform: translate(2em,0);
    -moz-transform: translate(2em,0);
    -o-transform: translate(2em,0);
    -ms-transform: translate(2em,0);
}

button:hover > .fa-car-side {
    color: white;
    -webkit-transform: translate(4em,0);
    -moz-transform: translate(4em,0);
    -o-transform: translate(4em,0);
    -ms-transform: translate(4em,0);
}

.fa-car-side {
    color: transparent;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
}

#garage-img {
    width: 35%;
    display: inline-block;
}

#garage-img img {
    width: 100%;
    display: inline-block;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    padding: 0;
    background: url(../src/banner.jpg);
    background-size: cover;
    width: 100%;
    display: block;
    margin-left: -8px;
    padding-right: 16px; /*por alguna razon no queda como el header*/
    color: white;
    text-shadow: -2px 2px #1c2644;
    font-weight: bold;
    text-align: right;
    padding-top: 20px;
}

/*social media*/
a.btn-social,
.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin: 10px 2px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 45px;
}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-social.btn-xs
{
    font-size: 11px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}
.btn-social.btn-sm
{
    font-size: 15px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}
.btn-social.btn-lg
{
    font-size: 25px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}

.btn-facebook
{
    background-color: #3b5998;
}
.btn-facebook:hover
{
    background-color: #4c70ba;
}
.btn-instagram
{
    background-color: #3f729b;
}
.btn-instagram:hover
{
    background-color: #548cb9;
}
.btn-twitter
{
    background-color: #55acee;
}
.btn-twitter:hover
{
    background-color: #83c3f3;
}

.container {
    width: 19%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

#signup-error {
    visibility: hidden;
    float: right;
    width: 100%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;
    color: red;
    font-weight: bold;
    margin-bottom: 10%;
}

#nombre-error,
#direccion-garage-error,
#filtro-barrio-error,
#telefono-error {
    visibility: hidden;
    float: right;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

#crear-garage-form input[type="text"],
#crear-garage-form input[type="number"]{
    display: inline-block;
    background: #346e8c;
    border-left: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    padding: 5px;
    width: 600px;
    text-align: left;
}
#crear-garage-form select {
    display: inline-block;
    background: #346e8c;
    border-left: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    padding: 5px;
    width: 610px;
    text-align: left;
}

#garage-crear button{
    background: #346e8c;
    border-left: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    color: white;
    padding: 5px;
    width: 200px;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 30px;
}

#same-line input[type="checkbox"]{
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
    font-size: 16px;
    display: inline-block;
}

#same-line label {
    display: inline-block;
    width: 500px;
    vertical-align: top;
    margin-top: 5px;
}

#same-line {
    background: #346e8c;
    border-left: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    color: white;
    padding: 5px;
    width: 400px;
    margin-bottom: 30px;
    margin-right: 0px;
    width: 600px;
}

.inline {
    display: inline-block;
}

.logout-cta {
    float: right;
    margin: 0 20px;
    color: white;
}