body {

    margin: 0;
    padding: 0;
    background: url(../src/foto-cochera-2.png);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
} 

.login-box {

    float: left;
    width: calc(50% - 2em);
    height: auto;
    background: #000;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 80px 30px 25px;
    box-sizing: border-box;
    margin: 4em 1em 0em 1em;
}

.login-box .logoprincipal {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 60px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
     }


.login-box .label{
    margin: 0;
    padding: 0;     
    font-weight: bold;
    display: block;
 }

 .login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], 
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
} 

.login-box input[type="submit"]{
border: none;
outline: none;
height: 30px;
font-size: 15px;
border-radius: 20px;
}


.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}


.login-box a:hover {
    color: #fff;
}

#correoelectronico-error,
#password1-error,
#password2-error,
#nombre-error,
#apellido-error,
#telefono-error {
    visibility: hidden;
    float: right;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

#login-error,
#signup-error {
    visibility: hidden;
    float: right;
    width: 100%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;
    color: red;
    font-weight: bold;
    margin-bottom: 10%;
}

.registrate-box {

width: 640px;
height: auto;
background: #000;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 80px 30px 25px;
}

.registrate-box .logoprincipal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -1em;
    left: calc(50% - 60px);
}

.registrate-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
     }


.registrate-box .label{
    margin: 0;
    padding: 0;     
    font-weight: bold;
    display: block;
}

.registrate-box #label_cliente{
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
    font-size: 14px;
} 
 .registrate-box input {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}

.registrate-box input[type="text"], 
.registrate-box input[type="password"],
.registrate-box input[type="number"],
.registrate-box input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 25px;
    color: #fff;
    font-size: 14px;
} 

.registrate-box input[type="checkbox"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 15px;
    color: #fff;
    font-size: 10px;
    vertical-align: bottom;
    width: 20%;
}
    
.registrate-box input[type="submit"]{
border: none;
outline: none;
height: 30px;
font-size: 15px;
border-radius: 20px;
}


.registrate-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}


.registrate-box a:hover {
    color: #fff;
}

#medio-espacio {
    width: calc((100% - 5px)/2);
    display: inline-block;
    font-size: 14px;
}

#mision{
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: calc(50% - 2em);
    height: 370px;
    box-sizing: border-box;
    color: whitesmoke;
    float: left;
    margin: 4em 1em 4em 1em;
}

#titulo{
    font: 35px sans-serif;
    text-align: center;
}
 
.cuerpo{
    font: 15px sans-serif;
}

.radio-section {
    float: left;
    clear: none;
    font: 14px sans-serif;
}

input[type=radio],
input.radio {
  width: 20%;
  float: left;
  clear: none;
  margin: 5px 0 0 2px;
}

.radio-label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}